   p{
            font-weight : bold;
            font-size : 20px;
        }
        .learn-top{
            text-align : center;
            
            font-size:80px;
             color: #2E8B57;
             margin-bottom : 25px;

        }
        .learn-description{
            
            margin-left : 50px;
            margin-bottom : 50px;       

        }
        .learn-bottom{
            
            text-align : center;
            color : #2E8B57;

        }