.howitworks-top{
            text-align: center;
            color: #2e8b57;
            font-weight: bold;
            font-size : 50px;

        }
        .howitworks-title{
            font-weight : bold;
            font-size: 28px;
        }
        .howitworks-description{
             font-size : 18px;
        }